/******
Index SASS
******/

@use "./partials/reset" as *;
@use "./partials/variables" as *;
@use "./partials/mixin" as *;
@use "./partials/utils" as *;
@use "./partials/typography" as *;
@use "./partials/common" as *;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
